@charset "UTF-8";
$base-font-size: 14px;
$base-font-family: "Roboto", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$base-line-height: 1.4;
$base-spacing-unit: 8px;
$base-round: 4px;

// Base Color
$base-text-color: rgb(31, 45, 61);
$base-text-color-white: rgba(255, 255, 255, .87);
$base-text-blur-color: rgba(0, 0, 0, 0.4);
$background-color: #eceff1;
$primary-color: #20a0ff;
$accent-color: #e91e63;
$danger-color: #ff4949;
$warning-color: #f7ba2a;
$info-color: #50bfff;
$disabled-color: rgba($base-text-color, .6);
$facebook-color: #4267b2;
$border-color: #ddd;
$link-color: #337ab7;
