@import './vue-material';
@import './layout';
@import './variables';
@import './spacing';
@import './form';
@import './common';

body {
  min-height: 100vh;
  font-family: $base-font-family;
  background: $background-color !important;
}

